/* A component-scoped stylesheet for App.jsx. Styles specific to the App component. */
.flex-container {
    display: flex;
    justify-content:  center;
    align-items: center;
}

.peek-a-boo-button {
    background-color: blueviolet; /* Button background color */
    color: white; /* Button text color */
}

.reset-button {
    padding: 2px; /* Reset button padding */
    align-items: center;
    margin-left: 5px;
}

.reset-icon{
    width:20px;
    height: auto;
}

.left-right-leaf-clusters-container {
    height: 90%;
}

.top-bottom-leaf-clusters-container {
    align-items: center;
    flex-direction: column;
    margin-top: -90%;
    height: 90%;
}

.left-right-leaf-clusters {
    width: 50%;
    height: 100%;

    &.left {
        rotate: 180deg;
    }
}