body {
    width: 600px;
    height: 600px;
}

.peek-a-boo-button {
    background-color: blueviolet; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    align-items: center;
}

.reset-button {
    padding: 2px; /* Reset button padding */
    align-items: center;
    margin-left: 5px;
}

.left-right-leaf-clusters-container {
    height: 90%;
}

.top-bottom-leaf-clusters-container {
    align-items: center;
    flex-direction: column;
    margin-top: -90%;
    height: 90%;
    
}

.flex-item{
    display:flex;  
    
    &.centered-items{
        justify-content:  center;
        align-items: center;
    }
}

.reset-icon{
    width:20px;
    height: auto;
} 

.left-right-leaf-clusters {
    width: 50%;

    &.left {
        rotate: 180deg;
    }
}

.top-bottom-leaf-clusters {
    position: absolute;
    width: 67.5%;

    &.bottom{
        bottom: -39px;
        rotate: 90deg;
    }

    &.top {
        top: -81px;
        rotate: -90deg;
    }
}

.leaf{
    position: absolute;
    width: 200px;
    height:auto;

    &.tilt {
        animation-name: tilt-shaking;
        animation-duration: 10.5s;
        animation-iteration-count: infinite;
    }

    &.jump {
        animation-name: jump-shake;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

.animal {
    width: 200px;
    height:auto; 
}

.animal-container{
    position: absolute;
    left: 200px;
    top: 200px;
}

.hide {
    display: none;
}

.bottom-button-container{
    position: relative;
    padding-top: 4px;
    z-index: 1;
}

@keyframes jump-shake {
        0% { transform: translateX(0) rotate(0)}
        35% { transform: translateY(0) rotate(0)}
        85% { transform: translateY(0) rotate(0) }
        89% { transform: translateY(-2px) rotate(-17deg) }
        93% { transform: translateY(-3px) rotate(17deg) }
        98% { transform: translateY(-4px) rotate(-17deg) }
        100% { transform: translateY(0) rotate(0) }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }